{% extends "base.html" %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock styles %}

{% block content %}
<header id="main-navigation">
    <h1><a href="{% url 'starting-page' %}">Jontun Blogi</a></h1>
    <nav>
        <ul>
            <li><a href="{% url 'posts' %}">Kaikki Postaukset</a></li>
        </ul>
    </nav>
</header>
<section id="welcome">
    <header>
        <img src="{% static 'blog/images/max.png' %}" alt="Joonas - Blogin omistaja" id="owner-image">
        <h2>JONTUN BLOGI</h2>
    </header>
    <p>
        Tervetuloa Jontun Blogiin, jossa jaan ajatuksiani, 
        kokemuksiani ja tarinoitani elämästä, teknologiasta ja kaikesta siltä väliltä. 
        Tämä on paikka, jossa voimme yhdessä tutkia mielenkiintoisia aiheita ja inspiroitua uusista näkökulmista. 
        Olitpa sitten kiinnostunut teknologiasta, elämäntavoista tai vain hyvästä tarinasta, täällä on jotain sinulle.
        Kiitos, että olet täällä!
    </p>
</section>

<section id="latest-posts">
    <h2>Viimeisimmät Postaukset</h2>
    <ul>
        <li>
            <article class="post">
                <a href="#">
                    <img src="{% static 'blog/images/mountains.jpg' %}" alt="Postauksen kuva" class="post-image">
                    <div class="post-content">
                        <h3 class="post-title">Postauksen Otsikko</h3>
                        <p class="post-excerpt">Tämä on lyhyt tiivistelmä</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>
        Kehitän softaa esim.
    </p>
</section>
{% endblock content %}